body {
  padding: 0 15px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  background: #cfdce7;
  transition: all 0.5s;
}

.tarefas-body {
  padding: 20px;
  max-width: 450px;
  margin: 100px auto;
  border-radius: 10px;
  background: #002f60;
  box-shadow: 5px 5px 10px rgba(51, 51, 51, .6),
              1px 1px 5px rgba(51, 51, 51, .8);
}

h2 {
  text-align: center;
  margin-top: 0px;
  color: #f5f8fa;
}

.formulario-tarefas {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 5px;
  border-radius: 5px;
}

.formulario-tarefas label {
  margin-right: 10px;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  color: #ebf0f5;
}

.input-tarefa {
  margin-right: 15px;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  width: 80%;
  font-size: 1rem;
  background: #f5f8fa;
}

.btn {
  padding: 15px 30px;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #00214d;
  background-color: #edc125;
  font-weight: 700;
  font-size: 1rem;
}

.btn:hover {
  opacity: 0.85;
}

.tarefas {
  border-radius: 5px;
}

.tarefas .closer {
  position: absolute;
  border: 3px solid #cfdce7;
  background: #002f60;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  right: 0px;
  top: 0px;
  transform: translate3d(50%, -50%, 0);
  box-shadow: -3px 2px 3px rgba(51, 51, 51, .8);
  cursor: pointer;
}

.tarefas .closer:hover{
  border: 3px solid #bbcedd;
  
}
.tarefas .closer::after {
  content: 'X';
  display: block;
  margin: 0 auto;
  color: #cfdce7;
  font-weight: bold;
  transform: translateX(5%);
}

.tarefas .closer:hover::after{
  color: #bbcedd;
}

.tarefas ul {
  margin: 0;
  padding: 0;
}

ul li input {
  margin-right: 15px;
  height: 20px;
  width: 20px;
}

ul li {
  position: relative;
  margin: 0px 2px 20px 2px;
  display: flex;
  align-items: center;
  padding: 4px 5px;
  animation-name: show-li;
  animation-duration: 0.5s;
  animation-direction: reverse;
  color: #00214d;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

li:nth-child(even) {
  background: #a7bfd4;
  border-radius: 5px;
}

li:nth-child(odd) {
  background: #f5f8fa;
  border-radius: 5px;
}

.tarefas input:checked ~ p {
  text-decoration: line-through;
}

.vazio {
  border: 2px solid #edc125;
}
.span-alert {
  position: absolute;
  font-size: 1.2rem;
  color: white;
  bottom: -1.4rem;
  left: 5px;
  animation: slidein .5s forwards;
  letter-spacing: .1rem;
  
  
}


@keyframes show-li {
  to {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  from {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}


@media (max-width: 410px) {
  .formulario-tarefas {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 0;
  }

  .input-tarefa {
    margin-right: 0px;
    width: auto;
  }

  .btn {
    margin-top: 10px;
  }
}
